{{ form_start(form) }}


<section class="section-padding text-white">
	<div class="container">
		<div class="w-25 divLogin text-center text-white d-flex flex-column justify-content-center align-items-center">
			<h3 class="text-extrabold mb-3">Your personal informations</h3>

			<div class="input-field">
				{{ form_row(form.gender) }}

			</div>


			<div class="input-field">
				{{ form_row(form.firstName) }}
			</div>


			<div class="input-field">
				{{ form_row(form.lastName) }}
			</div>


			<div class="input-field">

				{{ form_row(form.address) }}
			</div>

			<div class="input-field">

				{{ form_row(form.tel) }}
			</div>


{{ form_widget(form) }}
<button class="btn btn-lg btn-dark text-white m-3">{{ button_label|default('Save') }}</button>
		</div>
	</div>
</section>
{{ form_end(form) }}
