{# {% extends 'base.html.twig' %}

{% block title %}Profile index{% endblock %}

{% block body %}
    <h1>Profile index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Address</th>
                <th>Tel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
                <td>{{ profile.id }}</td>
                <td>{{ profile.firstName }}</td>
                <td>{{ profile.lastName }}</td>
                <td>{{ profile.address }}</td>
                <td>{{ profile.tel }}</td>
                <td>
                    <a href="{{ path('app_profile_show', {'id': profile.id}) }}">show</a>
                    <a href="{{ path('app_profile_edit', {'id': profile.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_profile_new') }}">Create new</a>
{% endblock %} #}
{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="w-25 divLogin text-center text-white d-flex flex-column justify-content-center align-items-center">
    <h1>Profile</h1>

    {{ form_errors(profileForm) }}

    {{ form_start(profileForm) }}
    {{ form_row(profileForm.firstName) }}
    {{ form_row(profileForm.lastName) }}
    {{ form_row(profileForm.address) }}
    {{ form_row(profileForm.tel) }}
    {{ form_row(profileForm.gender) }}

    <button type="submit" class="btn btn-lg btn-dark text-white">Save Profile</button>
</div>
{{ form_end(profileForm) }}
{% endblock %}
