{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="w-75 divLogin text-center">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div>
					You are logged in as
					{{ app.user.userIdentifier }},
					{# {{ app.user.email}}, #}
					<a class="text-white" href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<h1 class="h3 mb-3 font-weight-normal text-white mb-5">Please sign in</h1>
			<div class="form-group">
				<input type="email" value="{{ last_username }}" name="email" placeholder="Email" class="form-control mb-3" autocomplete="email" required autofocus style="width: 400px; background-color: transparent; color:white">
			</div>
			<div class="form-group">

				<input type="password" name="password" placeholder="Password" class="form-control mb-3" autocomplete="current-password" required style="width: 400px; background-color: transparent;">
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="checkbox">
				<input type="checkbox" id="keep-logged" name="remember" value="1"/>
				<label for="keep-logged">Keep me logged in</label>
			</div>

			<button class="btn btn-lg btn-dark text-white mt-5" type="submit">
				Login
			</button>

			<div class="promo-info">
				<a href="{{ path('app_register') }}" class="btn btn-lg gradient secondary waves-effect waves-light mt-20">
					<span>Sign-up<strong>
							Free</strong>
					</span>
				</a>
			</div>

		</form>
	</div>
{% endblock %}
