{% extends 'base.html.twig' %}

{% block body %}
	<style>
		body {
			;
			/* background: white; */
		}
	</style>

	<div class="backGroundGallery">
		<div class="w-100">
			<a class="text-center text-decoration-none text-white mx-auto" href="{{ path('app_home') }}"><img class="backButton  d-flex justify-content-start align-items-center" src="{{asset('../../assets/img/left-arrow_4518010-removebg-preview.png')}}" alt=""></a>
		</div>
		<h1 class="colorTitle">The latest paintings</h1>
		<div class="gallery">
			<input type="checkbox">
			<img class="shadow-lg" src="{{asset('assets/img/cubism2.jpg')}}" alt="">
			<img class="shadow-lg" src="{{asset('assets/img/cubism3.jpg')}}" alt="">
			<img class="shadow-lg" src="{{asset('assets/img/cubism4.jpg')}}" alt="">
			<img class="shadow-lg" src="{{asset('assets/img/magic6.jpg')}}" alt="">
			<img class="shadow-lg" src="{{asset('assets/img/magic7.jpg')}}" alt="">
			<img class="shadow-lg" src="{{asset('assets/img/magic8.jpg')}}" alt="">
			<img class="shadow-lg" src="{{asset('assets/img/cubism4.jpg')}}" alt="">
			<img class="shadow-lg" src="{{asset('assets/img/f.jpg')}}" alt="">
			<img class="shadow-lg" src="{{asset('assets/img/magic2.jpg')}}" alt="">
		</div>
	</div>
	<div class="row d-flex justify-content-between align-items-center position-relative">

		<div class="col-3">
			<img class="imageSizeGallery"  src="{{asset('assets/img/8069318-removebg-preview.png')}}" alt="">
		</div>

		<div class="col-xl-8 col-lg-6 col-md-5 col-sm-4 mr-5">
			<h1 class="text-center  text-white">Don't let the walls of your home be empty and lonely without works of art!</h1>
		</div>
	</div>

	<div class="latest">

		<div class=" w-100 d-flex justify-content-center align-items-center">
			<img class="shadow-lg different img-lg " src="{{asset('assets/img/magic2.jpg')}}" alt="">
		</div>

		<div class=" w-100 d-flex justify-content-center align-items-center">
			<img class="shadow-lg different img-lg " src="{{asset('assets/img/magic3.jpg')}}" alt="">
		</div>

		<div class=" w-100 d-flex justify-content-center align-items-center">
			<img class="shadow-lg different img-lg " src="{{asset('assets/img/magic4.jpg')}}" alt="">
		</div>

		<div class=" w-100 d-flex justify-content-center align-items-center">
			<img class="shadow-lg different img-lg " src="{{asset('assets/img/magic7.jpg')}}" alt="">
		</div>

		<div class=" w-100 d-flex justify-content-center align-items-center">
			<img class="shadow-lg different img-lg " src="{{asset('assets/img/magic5.jpg')}}" alt="">
		</div>

		<div class=" w-100 d-flex justify-content-center align-items-center">
			<img class="shadow-lg different img-lg " src="{{asset('assets/img/magic6.jpg')}}" alt="">
		</div>

		<div class=" w-100 d-flex justify-content-center align-items-center">
			<img class="shadow-lg different img-lg " src="{{asset('assets/img/magic8.jpg')}}" alt="">
		</div>
		<div class=" w-100 d-flex justify-content-center align-items-center">
			<img class="shadow-lg different img-lg " src="{{asset('assets/img/magic9.jpg')}}" alt="">
		</div>
	</div>

{% endblock %}
