{% extends 'base.html.twig' %}


{% block body %}
	{# header #}
	<div class="imgHeaderHome ">
		<div class="container">
			<div class="text-white text-center">
				<h1 class="mt-5">Welcome to Negar Art Gallery</h1>
				<h5>Where Art Transforms Spaces and Lives!</h5>
			</div>
		</div>
	</div>

	{# Heptagon #}
	<div class="text-center svgHeptagon ">
     {% include 'svg/long.svg' %}
	</div>

	{# Gallery #}
	<section>
		<div class="row d-flex justify-content-between align-items-center cardCute shadow-lg">
			<div class="col-3  d-flex justify-content-center align-items-center ">
				<img class="img1" src="../../assets/img/side-view-woman-posing-with-high-heels-removebg-preview.png " alt=""></div>
			<div class="col-6 d-flex flex-column justify-content-center align-items-center ">
				<h1 class="text-center paragraf">"Painting is the silent poetry of the soul"</h1>
				<a class="d-flex justify-content-center align-items-center" href="{{path('app_gallery')}}">
					<svg class="svgMargin panierSvg" viewbox="0 0 65 71" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.77039 32.8496H60.506V64.0106H3.77039V32.8496Z" fill="#820101"/>
						<path d="M41.5993 65.4619V44.1226H53.4189V65.4619" fill="#B78727"/>
						<path d="M2.00256 32.8496V17.4348H62.2818V32.8496" fill="#B78727"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M57.6431 38.8215C56.4185 38.7738 55.2578 38.2582 54.3963 37.3792C53.5349 36.5002 53.0373 35.3236 53.0044 34.0882H52.1205C52.1205 35.3289 51.6318 36.5188 50.7619 37.3961C49.8919 38.2734 48.7121 38.7662 47.4818 38.7662C46.2516 38.7662 45.0717 38.2734 44.2018 37.3961C43.3319 36.5188 42.8432 35.3289 42.8432 34.0882H41.9592C41.9849 34.7181 41.884 35.3468 41.6627 35.9365C41.4413 36.5262 41.1041 37.0646 40.6712 37.5195C40.2383 37.9744 39.7186 38.3364 39.1435 38.5836C38.5684 38.8309 37.9497 38.9583 37.3245 38.9583C36.6993 38.9583 36.0805 38.8309 35.5054 38.5836C34.9303 38.3364 34.4107 37.9744 33.9778 37.5195C33.5449 37.0646 33.2076 36.5262 32.9863 35.9365C32.7649 35.3468 32.6641 34.7181 32.6897 34.0882H31.8136C31.7808 35.3236 31.2831 36.5002 30.4217 37.3792C29.5603 38.2582 28.3995 38.7738 27.175 38.8215C25.9504 38.7738 24.7896 38.2582 23.9282 37.3792C23.0668 36.5002 22.5691 35.3236 22.5363 34.0882H21.6524C21.6195 35.3236 21.1219 36.5002 20.2604 37.3792C19.399 38.2582 18.2383 38.7738 17.0137 38.8215C15.7891 38.7738 14.6284 38.2582 13.7669 37.3792C12.9055 36.5002 12.4079 35.3236 12.375 34.0882H11.4989C11.4661 35.3236 10.9684 36.5002 10.107 37.3792C9.24556 38.2582 8.08482 38.7738 6.86026 38.8215C5.61192 38.7829 4.42262 38.2767 3.52445 37.4015C2.62628 36.5263 2.08368 35.345 2.00256 34.0882V32.8496H62.2818V34.0882C62.2489 35.3236 61.7513 36.5002 60.8898 37.3792C60.0284 38.2582 58.8676 38.7738 57.6431 38.8215Z" fill="#B78727"/>
						<path d="M1.40796 64.4917H62.8762V69.58H1.40796V64.4917Z" fill="#B78727"/>
						<path d="M10.8653 44.2648H35.0912V58.725H10.8653V44.2648Z" fill="#B78727"/>
						<path d="M15.59 1.42029H48.6942V12.6067H15.59V1.42029Z" fill="#B78727"/>
						<path d="M2.36237 37.5986H5.17842V64.0184H2.36237V37.5986Z" fill="#342E2E"/>
						<path d="M59.1058 37.5986H61.9218V64.0184H59.1058V37.5986Z" fill="#342E2E"/>
						<path d="M54.8271 65.4621H52.011V45.5427H43.0075V65.4621H40.1914V42.7028H54.8271V65.4621Z" fill="#342E2E"/>
						<path d="M48.2641 53.1554H51.0802V55.4195H48.2641V53.1554Z" fill="#342E2E"/>
						<path d="M62.2818 34.2694C61.9083 34.2694 61.5502 34.1198 61.2861 33.8535C61.0221 33.5872 60.8737 33.2261 60.8737 32.8495V18.8546H3.4106V32.8495C3.4106 33.2261 3.26225 33.5872 2.9982 33.8535C2.73414 34.1198 2.376 34.2694 2.00257 34.2694C1.62914 34.2694 1.271 34.1198 1.00695 33.8535C0.742889 33.5872 0.594543 33.2261 0.594543 32.8495V17.4346C0.594543 17.058 0.742889 16.6969 1.00695 16.4306C1.271 16.1643 1.62914 16.0146 2.00257 16.0146H62.2818C62.6552 16.0146 63.0133 16.1643 63.2774 16.4306C63.5415 16.6969 63.6898 17.058 63.6898 17.4346V32.8495C63.6898 33.2261 63.5415 33.5872 63.2774 33.8535C63.0133 34.1198 62.6552 34.2694 62.2818 34.2694Z" fill="#342E2E"/>
						<path d="M57.6431 40.2335C56.6144 40.2209 55.6062 39.9414 54.7157 39.4219C53.8252 38.9023 53.0823 38.1603 52.5585 37.2673C52.0474 38.1726 51.3077 38.9253 50.4146 39.4488C49.5216 39.9724 48.507 40.2482 47.474 40.2482C46.441 40.2482 45.4264 39.9724 44.5334 39.4488C43.6403 38.9253 42.9006 38.1726 42.3895 37.2673C41.8783 38.1726 41.1386 38.9253 40.2455 39.4488C39.3525 39.9724 38.3379 40.2482 37.3049 40.2482C36.2719 40.2482 35.2574 39.9724 34.3643 39.4488C33.4712 38.9253 32.7315 38.1726 32.2204 37.2673C31.7092 38.1726 30.9695 38.9253 30.0765 39.4488C29.1834 39.9724 28.1688 40.2482 27.1358 40.2482C26.1028 40.2482 25.0883 39.9724 24.1952 39.4488C23.3022 38.9253 22.5625 38.1726 22.0513 37.2673C21.5401 38.1726 20.8004 38.9253 19.9074 39.4488C19.0143 39.9724 17.9997 40.2482 16.9668 40.2482C15.9338 40.2482 14.9192 39.9724 14.0261 39.4488C13.1331 38.9253 12.3934 38.1726 11.8822 37.2673C11.364 38.1513 10.631 38.8876 9.75231 39.4066C8.87362 39.9256 7.87828 40.2102 6.86025 40.2335C5.25607 40.1919 3.72515 39.5475 2.56753 38.4268C1.40991 37.306 0.709065 35.7897 0.602356 34.1749V31.4296H63.6898V34.096C63.6468 35.7033 62.9971 37.2335 61.8734 38.3742C60.7496 39.5148 59.2366 40.1798 57.6431 40.2335ZM54.4359 34.2696C54.4359 35.1274 54.7738 35.9501 55.3753 36.5566C55.9767 37.1632 56.7925 37.504 57.6431 37.504C58.4937 37.504 59.3094 37.1632 59.9109 36.5566C60.5124 35.9501 60.8503 35.1274 60.8503 34.2696H54.4359ZM44.2668 34.2696C44.2668 35.1274 44.6047 35.9501 45.2062 36.5566C45.8077 37.1632 46.6234 37.504 47.474 37.504C48.3246 37.504 49.1404 37.1632 49.7418 36.5566C50.3433 35.9501 50.6812 35.1274 50.6812 34.2696H44.2668ZM34.0977 34.2696C34.1384 35.0987 34.4936 35.8804 35.0899 36.4527C35.6862 37.0251 36.4778 37.3443 37.301 37.3443C38.1242 37.3443 38.9159 37.0251 39.5121 36.4527C40.1084 35.8804 40.4636 35.0987 40.5043 34.2696H34.0977ZM23.9287 34.2696C23.9938 35.098 24.3547 35.8745 24.9446 36.4548C25.5344 37.0352 26.313 37.3799 27.1358 37.4251C27.9587 37.3799 28.7373 37.0352 29.3271 36.4548C29.917 35.8745 30.2779 35.098 30.343 34.2696H23.9287ZM13.7596 34.2696C13.823 35.0986 14.1835 35.876 14.7737 36.4567C15.3638 37.0374 16.1434 37.3816 16.9668 37.4251C17.7896 37.3799 18.5682 37.0352 19.158 36.4548C19.7479 35.8745 20.1088 35.098 20.1739 34.2696H13.7596ZM3.37148 34.2696C3.48625 35.1181 3.89302 35.899 4.52071 36.4758C5.1484 37.0525 5.9571 37.3886 6.8055 37.4251C7.62832 37.3799 8.40694 37.0352 8.99678 36.4548C9.58661 35.8745 9.94758 35.098 10.0127 34.2696H3.37148Z" fill="#342E2E"/>
						<path d="M10.3177 17.4348H13.1338V34.0408H10.3177V17.4348Z" fill="#342E2E"/>
						<path d="M20.5494 17.4348H23.3654V34.0408H20.5494V17.4348Z" fill="#342E2E"/>
						<path d="M41.0206 17.4348H43.8366V34.0408H41.0206V17.4348Z" fill="#342E2E"/>
						<path d="M51.2521 17.4348H54.0682V34.0408H51.2521V17.4348Z" fill="#342E2E"/>
						<path d="M30.7341 17.4348H33.5501V34.0408H30.7341V17.4348Z" fill="#342E2E"/>
						<path d="M62.8762 71H1.40803C1.03459 71 0.676458 70.8503 0.412401 70.584C0.148345 70.3177 0 69.9566 0 69.58V64.4917C0 64.115 0.148345 63.7539 0.412401 63.4876C0.676458 63.2213 1.03459 63.0717 1.40803 63.0717H62.8762C63.2496 63.0717 63.6078 63.2213 63.8718 63.4876C64.1359 63.7539 64.2842 64.115 64.2842 64.4917V69.58C64.2842 69.9566 64.1359 70.3177 63.8718 70.584C63.6078 70.8503 63.2496 71 62.8762 71ZM2.81605 68.16H61.4838V65.9116H2.81605V68.16Z" fill="#342E2E"/>
						<path d="M36.4992 60.1448H9.45728V42.8446H36.4992V60.1448ZM12.2499 57.3049H33.7066V45.6846H12.2733L12.2499 57.3049Z" fill="#342E2E"/>
						<path d="M20.5494 13.3483H23.3654V18.0185H20.5494V13.3483Z" fill="#342E2E"/>
						<path d="M41.0206 13.3483H43.8366V19.5331H41.0206V13.3483Z" fill="#342E2E"/>
						<path d="M48.6943 14.0267H15.59C15.4038 14.0309 15.2186 13.9978 15.0452 13.9293C14.8718 13.8608 14.7135 13.7583 14.5797 13.6277C14.4458 13.4971 14.3389 13.341 14.2653 13.1684C14.1917 12.9959 14.1527 12.8103 14.1507 12.6225V1.42034C14.1506 1.23118 14.1881 1.04392 14.2608 0.869547C14.3335 0.695176 14.44 0.537213 14.5741 0.404934C14.7082 0.272654 14.8671 0.168725 15.0416 0.0992479C15.216 0.0297709 15.4025 -0.00385291 15.59 0.000350684H48.6943C48.8818 -0.00385291 49.0683 0.0297709 49.2427 0.0992479C49.4172 0.168725 49.5761 0.272654 49.7102 0.404934C49.8443 0.537213 49.9508 0.695176 50.0235 0.869547C50.0962 1.04392 50.1337 1.23118 50.1336 1.42034V12.6225C50.1316 12.8103 50.0926 12.9959 50.019 13.1684C49.9454 13.341 49.8385 13.4971 49.7047 13.6277C49.5708 13.7583 49.4125 13.8608 49.2391 13.9293C49.0657 13.9978 48.8805 14.0309 48.6943 14.0267ZM16.998 11.1867H47.2863V2.84034H16.998V11.1867Z" fill="#342E2E"/>
						<path d="M21.0499 5.37268H43.2342V8.21267H21.0499V5.37268Z" fill="#342E2E"/>
					</svg>
				</a>
				<p class="text-secondary">🎉Click on the button above to see my latest paintings!</p>

			</div>

			<div class="col-3 d-flex justify-content-center align-items-end hightDiv"><img class="img2 d-flex justify-content-center align-items-end" src="../../assets/img/side-view-woman-posing-with-sky-background-removebg-preview.png" alt=""></div>
		</div>

	</section>

	{# category #}
	<div class="text-center textCube mb-5">
		<div class="row d-flex justify-content-center align-items-center">
			<div class="col-auto m-3">
				<a class="text-decoration-none" href="{{ path('app_home') }}">
					<div class="dimention">
						<span class="textDimention">All</span>
					</div>
				</a>
			</div>
			{% for category in categories %}
				<div
					class="col-auto m-3">
					<!-- Utilisez la classe col-auto pour ajuster la largeur en fonction du contenu -->
					<a class="text-decoration-none" href="{{ path('app_category_show', { id: category.id }) }}">
						<div class="dimention">
							<span class="textDimention">{{ category.name }}</span>
						</div>
					</a>

				</div>
			{% endfor %}
		</div>
	</div>

	{# paints carousel#}
	<section class="mb-5">
		<div class="container mb-5">
			<div id="carouselExample" class="carousel slide mb-5" data-bs-ride="carousel">
				<div class="carousel-inner">
					{% for chunk in paints|batch(9) %}
						<div class="carousel-item {% if loop.first %}active{% endif %}">
							<div class="container">
								<div class="row rowStyle justify-content-center align-items-center ">
									{% for paint in chunk %}
										<div class="col-lg-3 backGen col-md-4 col-sm-6 divPaints m-3 text-black text-white">
											<div class="container">
												<div class=" divImage mb-4">
													<a href="{{ path('app_paint', { id: paint.id }) }}"><img src="{{ paint.photo }}" alt="" class="img-fluid"></a>
												</div>
											</div>
											<div>
												<h3 class="textColor">{{ paint.title }}</h3>
												<div class="d-flex justify-content-start">
													<h5 class="fontSize">
														<span>Type:</span>
														{{ paint.category }}</h5>
												</div>

												<div class="d-flex justify-content-end">
													<h5>{{ paint.price }}€</h5>
												</div>

												<div class="d-flex justify-content-between align-items-center">
													{% set averageGrade = paint.gradeTotal / paint.gradeCount %}
													<!-- Génération des étoiles -->
													<fieldset class="ratingPaint ">
														{% for star in 1..5 %}
															{% if star <= averageGrade %}
																<span class="yellow-star">&#9733;</span>
															{% else %}
																<span class="gray-star">&#9733;</span>
															{% endif %}
														{% endfor %}
														<span class="rating-score">({{ averageGrade|round(1) }}/5)</span>
													</fieldset>

													<a href="{{ path('app_panier_new', { id: paint.id }) }}" class="panier-link">
														<svg class="svgCartPaint panierSvg" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#b78727" class="bi bi-cart4" viewbox="0 0 16 16">
															<path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
														</svg>
														{% for panier in paniers %}
															{% if panier is not null and panier.paint is not null and panier.paint.id == paint.id %}
																<span class="count">
																	1
																</span>
															{% endif %}


														{% endfor %}
													</a>

												</div>
											</div>
										</div>

									{% endfor %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				<button class="carousel-control-prev p-0 m-0" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>

				<div>
					<button class="carousel-control-next p-0 m-0" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>

	</section>
	{# balls #}
	<div class="wrapper d-flex justify-content-center align-items-center text-center">
		<div class="circle"></div>
		<div class="circle"></div>
		<div class="circle"></div>
		<div class="shadow"></div>
		<div class="shadow"></div>
		<div class="shadow"></div>
	</div>
	{# classification of art #}
	<!--Timeline carousel-->
	<div class="d-flex justify-content-between align-items-center titrPoster">
		<div class="d-flex flex-column justify-content-center align-items-center">
			<img class="vahshi" src="{{ asset('../../assets/img/young-woman-who-is-posing-covered-with-black-paint-removebg-preview.png') }}" alt="photo">
		</div>
		<h1 class="text-white">The classification of the arts</h1>
		<div class="d-flex flex-column justify-content-center align-items-center">
			<img class="vahshi" src="{{ asset('../../assets/img/portrait-young-woman-who-is-posing-covered-with-black-paint__3_-removebg-preview.png') }}" alt="photo">

		</div>
	</div>
	<section class="timeline-carousel ">

		<div class="timeline-carousel__item-wrapper " data-js="timeline-carousel">

			{% for category in categories %}
				<div class="timeline-carousel__item ">
					<div class="row timeline-carousel__image d-flex justify-content-between align-items-center mb-3">
						<div class="col-xl-3 col-lg-6 media-wrapper media-wrapper--overlay "><img class="media-wrapper rounded" src={{ category.url }}></div>
						<div class="col-xl-8 col-lg-6 media-wrapper media-wrapper--overlay timeline-carousel__item-inner">
							<span class="nameCategory ml-3">{{ category.name}}</span>

							<span class="month ml-3">{{ category.year}}</span>
							<div>
								<p class="ml-3 ">
									{{ category.explique}}</p>
								<span class="text-white">
									<span>
										<b>The most famous painters in
											{{ category.name}}:
										</b>
									</span>
									{{ category.famous}}</span>
							</div>
							<div class="backGold">
								<a href="{{ category.readMore}}" class="btn-shine " target="_blank">Read more</a>
							</div>

						</div>

					</div>

				</div>
			{% endfor %}

		</div>
	</section>
	{# services #}
	<section>
		<div class="text-white d-flex flex-column justify-content-center align-items-center bg-gray">
			<h1 class="mb-4">Our Services</h1>
			<p class="w-50 text-center">At Negar, we believe in the transformative power of art. Our gallery is a vibrant hub of creativity, offering an exquisite collection of paintings that evoke emotion, inspire imagination, and elevate everyday experiences. Whether you're a seasoned art collector or a first-time buyer, Negar is your premier destination for discovering and acquiring exceptional artworks that speak to your soul.</p>
		</div>
		<div class="container d-flex flex-column justify-content-center align-items-center">
			<div class="row d-flex justify-content-center align-items-start">
				<div class="col-xl-3  text-center d-flex flex-column justify-content-start align-items-center serviceCol">
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#510000" class="bi bi-bar-chart" viewbox="0 0 16 16">
						<path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z"/>
					</svg>
					<h2 class="m-3 titreService">Art Consultation:</h2>
					<p>
						Let our expert team guide you through your art-buying journey with personalized art consultation and curation services. Whether you're seeking advice on selecting the right artwork for your home or need assistance in curating a cohesive art collection, we're here to help. Let us guide you in making informed decisions that elevate your space with art.</p>
				</div>
				<div class="col-xl-3 text-center d-flex flex-column justify-content-start align-items-center serviceCol">
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#510000" class="bi bi-lightbulb" viewbox="0 0 16 16">
						<path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1"/>
					</svg>
					<h2 class="m-3 titreService">Online Art Sales and Auctions:</h2>
					<p>Experience the convenience of buying art online through Negar's secure platform. Browse our extensive catalog of paintings from the comfort of your home, and purchase your favorite pieces with confidence. Additionally, stay tuned for exclusive art auctions featuring rare and collectible artworks, where you can bid on coveted pieces and expand your art collection with ease.</p>
				</div>
				<div class="col-xl-3 text-center d-flex flex-column justify-content-start align-items-center serviceCol">
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#510000" class="bi bi-palette" viewbox="0 0 16 16">
						<path d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3m4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
						<path d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8m-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7"/>
					</svg>
					<h2 class="m-3 titreService">Curated Collections:</h2>
					<p>Immerse yourself in our meticulously curated collections, showcasing a diverse range of artistic styles, themes, and mediums.  Each painting in our gallery is carefully selected to captivate and inspire our visitors. Explore our curated collections and find the perfect piece to enrich your space and reflect your unique taste.</p>
				</div>
			</div>
		</div>
	</section>
	{# line pub #}
	<section class="d-flex justify-content-center align-items-center text-center">
		<div class="row backVideo m-5 d-flex justify-content-center align-items-center text-center">
			<div class="col-7">
				<video class="videoReel" autoplay loop muted>
					<source
					src="{{ asset('assets/img/IMG_7171.MOV') }}" type="video/mp4">
					<!-- Fournissez un message alternatif pour les navigateurs qui ne prennent pas en charge la balise vidéo -->
					Votre navigateur ne prend pas en charge la lecture de vidéos.
				</video>
			</div>
			<div class="sp-container col-5">
				<div class="sp-content">
					<div class="sp-globe"></div>
					<h2 class="frame-1">If you like to learn more</h2>
					<h2 class="frame-2">about art categories,</h2>
					<h2 class="frame-3">join me</h2>
					<h2 class="frame-5">
						<span>NEGAR,</span>
						<span>ART,</span>
						<span>GALLERY.</span>
					</h2>
				</div>

			</div>


		</div>
	</section>


{% endblock %}
{% block javascripts %} <script>
		    // Fonction utilitaire pour sélectionner des éléments avec un attribut data-js spécifique
		
						$.js = function (el) {
						    return $('[data-js=' + el + ']')
						};
			// Fonction pour initialiser le carousel
		
						function carousel() {
			 // Sélectionne l'élément avec l'attribut data-js="timeline-carousel" et l'initialise avec Slick
		
						  $.js('timeline-carousel').slick({
						    infinite: false,
						    arrows: false,
						    dots: true,
						    autoplay: false,
						    speed: 1100,
						    slidesToShow: 2,
						    slidesToScroll: 2,
						    responsive: [
						      {
						        breakpoint: 800,
						        settings: {
						          slidesToShow: 1,
						          slidesToScroll: 1
						        }
						      }]
						  });
						}
						
						carousel();
						</script>
	 <script>
				// Configuration de Axeptio pour la gestion des cookies
				    window.axeptioSettings = {
				        clientId: "66806321c39857d40d4a0c59",
				        cookiesVersion: "gallery_negar-fr-EU",
				    };
				
				    (function(d, s) {
				        var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
				        e.async = true;
				        e.src = "//static.axept.io/sdk.js";
				        t.parentNode.insertBefore(e, t);
				        console.log('Axeptio script loaded.');
				    })(document, "script");
				</script>

{% endblock %}
