{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	{# header #}
	<div class="imgHeaderHome ">
		<div class="container">
			<div class="text-white text-center">
				<h1 class="mt-5">Welcome to Negar Art Gallery</h1>
				<h5>Where Art Transforms Spaces and Lives!</h5>
			</div>
		</div>
	</div>
	{# Heptagon #}
	<div class="text-center svgHeptagon ">
		<svg
			xmlns="http://www.w3.org/2000/svg" width="600" height="600" class="bi bi-heptagon-fill  " viewbox="0 0 16 16">
			<!-- Define linear gradient -->
			<defs>
				<linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">

					<stop offset="100%" style="stop-color:#b78727 "/>
				</linearGradient>
			</defs>
			<!-- Use the linear gradient for filling the path -->
			<path
			fill="url(#gradient)" stroke="#" stroke-width="0.06" fill-rule="evenodd" d="M7.779.052a.5.5 0 0 1 .442 0l6.015 2.97a.5.5 0 0 1 .267.34l1.485 6.676a.5.5 0 0 1-.093.415l-4.162 5.354a.5.5 0 0 1-.395.193H4.662a.5.5 0 0 1-.395-.193L.105 10.453a.5.5 0 0 1-.093-.415l1.485-6.676a.5.5 0 0 1 .267-.34z"/>
			<!-- Add text -->
			<text x="50%" y="20%" dominant-baseline="middle" text-anchor="middle" fill="#FFFFFF" font-size="0.5">
				<tspan x="50%" dy="1.5em">Experience the vivid tapestry</tspan>
				<tspan x="50%" dy="1.5em">of art and paint on our website,</tspan>
				<tspan x="50%" dy="1.5em">where colors intertwine to tell stories</tspan>
				<tspan x="50%" dy="1.5em">untold. With each stroke, immerse</tspan>
				<tspan x="50%" dy="1.5em">yourself in the depths of creativity,</tspan>
				<tspan x="50%" dy="1.5em">where imagination knows no bounds.</tspan>
				<tspan x="50%" dy="1.5em">Discover the transformative power</tspan>
				<tspan x="50%" dy="1.5em">of pigments, breathing life into</tspan>
				<tspan x="50%" dy="1.5em">visions and emotions. Join us in</tspan>
				<tspan x="50%" dy="1.5em">celebrating the timeless allure of</tspan>
				<tspan x="50%" dy="1.5em">artistry, where every canvas is a journey</tspan>
				<tspan x="50%" dy="1.5em">waiting to unfold. Welcome to a world</tspan>
				<tspan x="50%" dy="1.5em">where art and paint unite to ignite</tspan>
				<tspan x="50%" dy="1.5em">the soul.</tspan>
			</text>
		</svg>
		<div class="svgShadow"></div>
	</div>
	{# cardcute #}
	<section>
		<div class="container ">
			<div class="row d-flex justify-content-between align-items-center cardCute shadow-lg">
				<div class="col-3  d-flex justify-content-center align-items-center ">
					<img class="img1" src="../../assets/img/side-view-woman-posing-with-high-heels-removebg-preview.png " alt=""></div>
				<div class="col-6  d-flex justify-content-center align-items-center ">
					<h4 class="text-center paragraf" style="color:#b78727">
						"La peinture est la poésie silencieuse de l'âme, capturant les émotions, les histoires et les rêves dans un langage visuel intemporel."</h4>
				</div>
				

				<div class="col-3 d-flex justify-content-center align-items-end hightDiv"><img class="img2 d-flex justify-content-center align-items-end" src="../../assets/img/side-view-woman-posing-with-sky-background-removebg-preview.png" alt=""></div>
			</div>
		</div>
	</section>


	{# category #}
	<div class="text-center textCube mb-5">
		<div class="row d-flex justify-content-center align-items-center">
			<div class="col-auto m-3">
				<a class="text-decoration-none" href="{{ path('app_home') }}">
					<div class="dimention">
						<span class="textDimention">All</span>
					</div>
				</a>
			</div>
			{% for category in categories %}
				<div
					class="col-auto m-3">
					<!-- Utilisez la classe col-auto pour ajuster la largeur en fonction du contenu -->
					<a class="text-decoration-none" href="{{ path('app_category_show', { id: category.id }) }}">
						<div class="dimention">
							<span class="textDimention">{{ category.name }}</span>
						</div>
					</a>
				</a>
			</div>
		{% endfor %}
	</div>
</div>
{# paints #}

<section class="mb-5">
	<div class="container mb-5">
		<div id="carouselExample" class="carousel slide mb-5" data-bs-ride="carousel">
			<div class="carousel-inner">
				{% for chunk in paints|batch(9) %}
					<div class="carousel-item {% if loop.first %}active{% endif %}">
						<div class="container">
							<div class="row rowStyle justify-content-center align-items-center ">
								{% for paint in chunk %}
									<div class="col-lg-3 backGen col-md-4 col-sm-6 divPaints m-3 text-black text-white">
										<div class="container">
											<div
												class=" divImage mb-4">
												<!-- Ajout de la classe mb-4 pour l'espacement entre les images -->

												<a href="{{ path('app_paint', { id: paint.id }) }}"><img src="{{ paint.photo }}" alt="" class="img-fluid"></a>
											</div>
										</div>
										<div class="">
											<h3 class="textColor">{{ paint.title }}</h3>
											<div class="d-flex justify-content-start  ">
												<h5 class="fontSize">
													<span>Type:
													</span>
													{{ paint.category }}</h5>
											</div>
											<div class="d-flex justify-content-end">
												<h5>{{ paint.price }}€</h5>
											</div>
											<!-- Autres éléments ici -->
											<div class="d-flex justify-content-between align-items-center">
												{% set averageGrade = paint.gradeTotal / paint.gradeCount %}
												<!-- Génération des étoiles -->
												<fieldset class="rating ">
													{% for star in 1..5 %}
														{% if star <= averageGrade %}
															<span class="yellow-star">&#9733;</span>
														{% else %}
															<span class="gray-star">&#9733;</span>
														{% endif %}
													{% endfor %}
												</fieldset>

												<a href="{{ path('app_panier_new', { id: paint.id }) }}" class="panier-link">
													<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="yellow" class="bi bi-cart4 panierSvg" viewbox="0 0 16 16">
														<path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
													</svg>
													{% for panier in paniers %}
														{% if panier is not null and panier.paint is not null and panier.paint.id == paint.id %}

															<span class="count">1</span>
														{% endif %}


													{% endfor %}
												</a>

											</div>
										</div>
									</div>

								{% endfor %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			<button class="carousel-control-prev p-0 m-0" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>

			<div class="QQQ">
				<button class="carousel-control-next p-0 m-0" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>

</section>
<div class="wrapper d-flex justify-content-center align-items-center text-center">
	<div class="circle"></div>
	<div class="circle"></div>
	<div class="circle"></div>
	<div class="shadow"></div>
	<div class="shadow"></div>
	<div class="shadow"></div>
</div>
{# paint #}
<!--Timeline carousel-->
<div class="d-flex justify-content-between align-items-center titrPoster">
	<div class="d-flex flex-column justify-content-center align-items-center">
		<img class="vahshi" src="{{ asset('../../assets/img/young-woman-who-is-posing-covered-with-black-paint-removebg-preview.png') }}" alt="photo">
	</div>
	<h1 class="text-white">The classification of the arts</h1>
	<div class="d-flex flex-column justify-content-center align-items-center">
		<img class="vahshi" src="{{ asset('../../assets/img/portrait-young-woman-who-is-posing-covered-with-black-paint__3_-removebg-preview.png') }}" alt="photo">

	</div>
</div>
<section class="timeline-carousel ">

	<div class="timeline-carousel__item-wrapper " data-js="timeline-carousel">

		{% for category in categories %}
			<div class="timeline-carousel__item ">
				<div class="row timeline-carousel__image d-flex justify-content-between align-items-center mb-3">
					<div class="col-xl-3 col-lg-6 media-wrapper media-wrapper--overlay "><img class="media-wrapper rounded" src={{ category.url }}></div>
					<div class="col-xl-8 col-lg-6 media-wrapper media-wrapper--overlay timeline-carousel__item-inner">
						<span class="nameCategory ml-3">{{ category.name}}</span>

						<span class="month ml-3">{{ category.year}}</span>
						<div class="">
							<p class="ml-3 ">
								{{ category.explique}}</p>
							<span class="text-white">
								<span>
									<b>The most famous painters in
										{{ category.name}}:
									</b>
								</span>
								{{ category.famous}}</span>
						</div>
						{# <a href="#" class="read-more mt-3">Read more</a> #}
						<div class="backGold">
							<a href="#" class="btn-shine ">Read more</a>
						</div>

					</div>

				</div>

			</div>
		{% endfor %}

	</div>
</section>

{# line pub #}
<section class="d-flex justify-content-center align-items-center text-center">
	<div class="row backVideo m-5 d-flex justify-content-center align-items-center text-center">
		<div class="col-7">
			<video class="videoReel" autoplay loop muted>
				<source
				src="{{ asset('assets/img/IMG_7171.MOV') }}" type="video/mp4">
				<!-- Fournissez un message alternatif pour les navigateurs qui ne prennent pas en charge la balise vidéo -->
				Votre navigateur ne prend pas en charge la lecture de vidéos.
			</video>
		</div>
		<div class="sp-container col-5">
			<div class="sp-content">
				<div class="sp-globe"></div>
				<h2 class="frame-1">If you like to learn more</h2>
				<h2 class="frame-2">about art categories,</h2>
				<h2 class="frame-3">join me</h2>
				<h2 class="frame-5">
					<span>NEGAR,</span>
					<span>ART,</span>
					<span>GALLERY.</span>
					{# <div><a class=" text-decoration-none sp-circle-link " href="#">by Negar</a></div> #}
				</h2>
			</div>

		</div>


	</div>
</section>{% endblock %}{% block javascripts %}
 <script>
							$.js = function (el) {
							    return $('[data-js=' + el + ']')
							};
							
							function carousel() {
							  $.js('timeline-carousel').slick({
							    infinite: false,
							    arrows: false,
							    dots: true,
							    autoplay: false,
							    speed: 1100,
							    slidesToShow: 2,
							    slidesToScroll: 2,
							    responsive: [
							      {
							        breakpoint: 800,
							        settings: {
							          slidesToShow: 1,
							          slidesToScroll: 1
							        }
							      }]
							  });
							}
							
							carousel();
							
							</script>{% endblock %}
