{% extends 'base.html.twig' %}

{% block title %}Hello PaintController!
{% endblock %}
{% block stylesheets %}


	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
{% endblock %}

{% block body %}
	<style>
		body {
			background: linear-gradient(#510000, #820101);
		}
	</style>

	{# header #}
	<div class="imgHeaderPaint d-flex flex-column justify-content-center align-items-center">
		<div class="w-100">
			<a class="text-center text-decoration-none text-white mx-auto" href="{{ path('app_home') }}"><img class="backButton  d-flex justify-content-start align-items-center" src="{{asset('../../assets/img/left-arrow_4518010-removebg-preview.png')}}" alt=""></a>
		</div>
		<p class="d-flex justify-content-start align-items-center text-white ml-5 imgHeaderPaintText">
			Step into the enchanting world of paint, where artists breathe life into blank canvases, transforming them into vibrant landscapes and captivating scenes. Here, colors dance freely, each brushstroke telling a story of joy, sorrow, love, and dreams. It's a realm where imagination knows no bounds, inviting us to explore the wonders of the universe through the eyes of an artist. In this magical world, boundaries blur, and possibilities are endless, as creativity takes flight on wings of color and light, celebrating the boundless beauty of life itself.</p>


	</div>
	{# paint #}
	<div class="d-flex justify-content-between align-items-center titrPoster ">
		<div class="d-flex flex-column justify-content-center align-items-center">
			<img class="vahshi" src="{{ asset('../../assets/img/portrait-young-woman-who-is-posing-covered-with-black-paint__1_-removebg-preview.png') }}" alt="photo">
		</div>
		<h1 class="text-white text-center">NEGAR GALLERY</h1>
		<div class="d-flex flex-column justify-content-center align-items-center">
			<img class="vahshi" src="{{ asset('../../assets/img/young-woman-who-is-posing-covered-with-black-paint__1_-removebg-preview.png') }}" alt="photo">

		</div>
	</div>
	<section class="myPaint">
		<div class="container">
			<div class="row rowPaintStyle divPaint">


				<div class="col-lg-6   text-white p-5">
					<img class="shadow-lg" src="{{ paint.photo }}" alt="{{ paint.title }}">
				</div>
				<div class="col-lg-6  text-white p-5">


					<h1 class="titrePaint">{{ paint.title }}</h1>
					<p>
						<span class="colorTextPaint">Price:</span>
						{{ paint.price }}€</p>
					<p>
						<span class="colorTextPaint">Size:</span>
						{{ paint.sizeW }}W *
						{{ paint.sizeH }}H *
						{{ paint.sizeD }}D
					</p>
					<p>
						<span class="colorTextPaint">Type of work:</span>
						{{ paint.typeOfWork}}</p>
					<p>
						<span class="colorTextPaint">Category:</span>
						{{ paint.category}}
					</p>
					<p>
						<span class="colorTextPaint">Status:</span>
						{{ paint.status}}</p>

					<form
						class="ratings" action="{{ path('app_rate_paint', {'id': paint.id, 'grade': '__VALUE__'}) }}">
						<!-- Champ caché pour stocker la valeur de la note -->
						<input
						type="hidden" id="grade" name="grade" value="">
						<!-- Génération des étoiles -->
						<fieldset class="rating ">
							{% for star in 1..5 %}
								<input class="input " type="radio" id="star{{ star }}" name="rating" value="{{ star }}"/>
								<label class="label full" for="star{{ star }}" title="{{ star }} star">&#9733;</label>
							{% endfor %}
						</fieldset>
						<!-- Affichage de l'alerte si nécessaire -->
						{% for message in app.flashes('failed') %}
							<div class="alert alert-danger" role="alert">
								{{ message }}
							</div>
						{% endfor %}

						<!-- /===========/ -->
					</form>
					<div class="d-flex flex-column justify-content-center align-items-end">
						<a href="{{ path('app_panier_new', {'id': paint.id}) }}" class="btn bg-gradient text-white w-25">Add to cart</a>
						<a href="{{ path('app_cart', {'id': paint.id}) }}" class="btn bg-gradient text-white w-25">Cart</a>
					</div>
					<!-- Autres informations sur le paint -->
					<div>
						<!-- /=======commentaire========/ -->
						<p class="colorTextPaint">Comment:
						</p>
						{{ include('messages/_form.html.twig') }}
						{# {{ dump(messages) }}; #}
						{% if messages is not empty %}
							{% for message in messages %}
								<div>
									<div class="w-100 textareaPaint">
										<span class="nomTextArea">{{ message.user.firstName }}</span>:
										{{ message.messages }}
										<span class="dateTextArea">({{ message.createdAt|date('Y-m-d H:i:s') }})</span>
									</div>
								</div>
							{% endfor %}
						{% else %}
							<p>No messages found.</p>
						{% endif %}
					</div>

				</div>
			</div>
		</div>

	</section>
	<div class="row  m-5 slang  d-flex justify-content-center align-items-center p-4">
		<div class="col-md-3 d-flex  justify-content-center align-items-center">

			<video class="videoReel w-100 shadow-lg" autoplay loop muted>
				<source src="{{ asset('assets/img/_import_6127233c0ae8b3.17073247.mp4') }}" type="video/mp4">
			</video>
		</div>
		<div class="col-md-3 d-flex  justify-content-center align-items-center">

			<video class="videoReel w-100 shadow-lg" autoplay loop muted>
				<source src="{{ asset('assets/img/_import_6127275d233ad0.35564992.mp4') }}" type="video/mp4">

			</video>
		</div>
		<div class="col-md-3 d-flex  justify-content-center align-items-center">

			<video class="videoReel w-100 shadow-lg" autoplay loop muted>
				<source src="{{ asset('assets/img/_import_6127230f39b435.32971824.mp4') }}" type="video/mp4">

			</video>
		</div>
		<div class="col-md-3 d-flex  justify-content-center align-items-center">

			<video class="videoReel w-100 shadow-lg" autoplay loop muted>
				<source src="{{ asset('assets/img/_import_612727cfe7a4c8.34817151.mp4') }}" type="video/mp4">

			</video>
		</div>

		<div class="col-md-10 d-flex justify-content-center align-items-center">
			<div class="backTextPub mt-4 ">
				<h5 class="text-white">Immerse yourself in a world where each stroke of the brush tells a story, where every sculpture captures the essence of emotion, and where every photograph freezes a moment in time. From classical masterpieces to contemporary innovations, our gallery celebrates the richness and diversity of artistic expression.</h5>


			</div>


		</div>

	</div>
{% endblock %}
{% block javascripts %}
	 <script>
																	document.addEventListener('DOMContentLoaded', function () {
																		 let ratings = document.querySelectorAll('.ratings');
																								
																		ratings.forEach(rating => {
																		let inputs = rating.querySelectorAll('.input');
																								
																		 inputs.forEach(input => {
																								            input.addEventListener('change', () => {
																		// Récupérer la valeur de l'étoile sélectionnée
																		 let value = input.value;
																		// Mettre à jour la valeur du champ caché "grade" avec la valeur de la note sélectionnée
																		 document.getElementById('grade').setAttribute('value', value);
																		console.log('Note sélectionnée : ' + value);
																		// Modifier l'URL d'action du formulaire avec la valeur de la note
																		 let form = rating;
																		 let action = form.getAttribute('action');
																		action = action.replace('__VALUE__', value);
																		// Remplacer également '__VALUE__' dans l'URL avec la valeur du grade
																		 action = action.replace('grade=__VALUE__', 'grade=' + value);
																		console.log(action);
																		 form.setAttribute('action', action);
																// Soumettre automatiquement le formulaire
																		form.submit();
																	});
																	});
																});
																});
																</script>
{% endblock %}
