{{ form_start(form) }}
{{ form_widget(form, {'attr': {'class': 'my-custom-input '}}) }}
<button class=" text-white shadow-lg buttonStyleContact bg-gradient">{{ button_label|default('Save') }}</button>
<div class="d-flex justify-content-center align-items-center">
	<a href="mailto:negarshahbazi.official@gmail.com" class="contact-link">
		<img class="phone" src="{{asset('../../assets/img/pikaso_texttoimage_Send-me-a-photo-of-an-envelope-in-mustard-and-crim-removebg-preview.png')}}" alt="Email me">
        <span class="hover-text">Email me</span> <!-- Texte à afficher au survol -->

	<a href="tel:+601762669" class="contact-link">
		<img class="phone"  src="{{asset('../../assets/img/pixlr-image-generator-acdfdfe0-9115-48dc-a727-e184f7cdfe55-removebg-preview.png')}}" alt="Call me">
        <span class="hover-text">Call me</span> <!-- Texte à afficher au survol -->


		</a>
	</div>

	{{ form_end(form) }}
