<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link
		href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
		<!-- logo in link -->
		<link rel="icon" href="{{ asset('assets/img/IMG_2162-removebg-preview.png') }}">

		<title>
			Negar-Gallery!
			{% block title %}{% endblock %}
		</title>
	
			<link href="/assets/css/main.css" rel="stylesheet">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		{% block stylesheets %}
		{% endblock %}

		<!-- Include jQuery -->
		 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<!-- Include Bootstrap JS -->
		 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<!-- Include Slick Carousel (Optional if needed) -->
		 <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


			{% block javascripts %}
				{% block importmap %}
			{{ importmap('app') }}
		{% endblock %}
	{% endblock %}

	</head>
		<body>

		{# navbar #}
			<nav class="navbar navbar-expand-lg fixed-top d-flex justify-content-center align-items-center"> <div class="container-fluid ">
				<button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon "></span>
				</button>

				<a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{asset('assets/img/télécharger.webp')}}" class="logo rounded-pill" alt=""></a>
				<div class="collapse navbar-collapse " id="navbarScroll">
					<ul class="navbar-nav navbar-nav-scroll " style="--bs-scroll-height: 100px;">
						<li class="nav-item ">
							<a class="nav-link text-white " aria-current="page" href="{{ path('app_home') }}">
								<p class="tailleReg">Home</p>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white " href="{{ path('app_about') }}">
								<p class="tailleReg">About Us</p>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white " aria-disabled="true" href="{{ path('app_contact_new') }}">
								<p class="tailleReg">Contact</p>
							</a>
						</li>
					</ul>
				</div>
				<div class="d-flex justify-content-center align-items-center">
					<ul class="navbar-nav  my-2  d-flex justify-content-center align-items-center">

						<li class="nav-item">
							<a class="nav-link " aria-current="page" href="{{ path('app_login') }}">
								{% if app.user %}
									<span class="text-white ">Hello
										{{ app.user.firstName }}!</span>,

								{% endif %}
								<svg width="64" height="53" viewbox="0 0 64 53" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M60.8233 26.5C60.8233 41.1354 47.9144 53 31.9932 53C16.0698 53 3.16309 41.1354 3.16309 26.5C3.16309 11.8636 16.0698 0 31.9932 0C47.9144 0 60.8233 11.8636 60.8233 26.5Z" fill="#B78727"/>
									<path d="M27.7323 26.5C27.7323 32.4476 22.6073 37.2713 16.0926 37.2713C9.57884 37.2713 4.29871 32.4476 4.29871 26.5C4.29871 20.5533 9.57884 15.7287 16.0926 15.7287C22.6073 15.7287 27.7323 20.5533 27.7323 26.5Z" fill="#8F0000"/>
									<path d="M16.0925 38.2854C8.9809 38.2854 3.1955 32.9982 3.1955 26.5C3.1955 20.0018 8.9809 14.7147 16.0925 14.7147C23.1191 14.7147 28.8355 20.0018 28.8355 26.5C28.8355 32.9982 23.1191 38.2854 16.0925 38.2854ZM16.0925 16.7427C10.1973 16.7427 5.40193 21.1198 5.40193 26.5C5.40193 31.8802 10.1973 36.2573 16.0925 36.2573C22.0008 36.2573 26.6291 31.9713 26.6291 26.5C26.6291 21.0287 22.0008 16.7427 16.0925 16.7427Z" fill="#37474F"/>
									<path d="M59.6878 26.5C59.6878 32.4476 54.5617 37.2713 48.048 37.2713C41.5343 37.2713 36.2542 32.4476 36.2542 26.5C36.2542 20.5533 41.5343 15.7287 48.048 15.7287C54.5617 15.7287 59.6878 20.5533 59.6878 26.5Z" fill="#8F0000"/>
									<path d="M48.048 38.2854C40.9363 38.2854 35.1509 32.9982 35.1509 26.5C35.1509 20.0018 40.9363 14.7147 48.048 14.7147C55.0746 14.7147 60.791 20.0018 60.791 26.5C60.791 32.9982 55.0746 38.2854 48.048 38.2854ZM48.048 16.7427C42.1527 16.7427 37.3574 21.1198 37.3574 26.5C37.3574 31.8802 42.1527 36.2573 48.048 36.2573C53.9562 36.2573 58.5846 31.9713 58.5846 26.5C58.5846 21.0287 53.9562 16.7427 48.048 16.7427Z" fill="#37474F"/>
									<path d="M36.2552 27.5141C35.8857 27.5141 35.5237 27.3437 35.3157 27.0328C34.3924 25.6583 33.2127 24.9017 31.9932 24.9017C30.7736 24.9017 29.5939 25.6583 28.6706 27.0328C28.3517 27.5071 27.673 27.6576 27.1526 27.3626C26.6344 27.0685 26.4739 26.4436 26.7939 25.9672C28.133 23.9728 29.9796 22.8736 31.9932 22.8736C34.0067 22.8736 35.8534 23.9728 37.1925 25.9672C37.5125 26.4436 37.3519 27.0685 36.8337 27.3626C36.6528 27.4655 36.4524 27.5141 36.2552 27.5141Z" fill="#37474F"/>
									<path d="M4.29865 27.5141H1.10323C0.493462 27.5141 0 27.0605 0 26.5C0 25.9395 0.493462 25.4859 1.10323 25.4859H4.29865C4.90846 25.4859 5.40189 25.9395 5.40189 26.5C5.40189 27.0605 4.90846 27.5141 4.29865 27.5141Z" fill="#37474F"/>
									<path d="M62.8833 26.5347H59.6879C59.0781 26.5347 58.5847 26.0811 58.5847 25.5206C58.5847 24.9601 59.0781 24.5066 59.6879 24.5066H62.8833C63.4931 24.5066 63.9865 24.9601 63.9865 25.5206C63.9865 26.0811 63.4931 26.5347 62.8833 26.5347Z" fill="#37474F"/>
									<path d="M31.9932 44.6479C28.8355 44.6479 25.9341 42.9426 24.6014 40.3045C24.345 39.7965 24.5853 39.1935 25.1379 38.9578C25.6917 38.7211 26.3467 38.9439 26.6032 39.451C27.5749 41.3761 29.6909 42.6199 31.9932 42.6199C34.2933 42.6199 36.4093 41.376 37.3843 39.4499C37.6396 38.9429 38.2947 38.7211 38.8495 38.9588C39.4022 39.1945 39.6413 39.7975 39.3839 40.3056C38.049 42.9437 35.1488 44.6479 31.9932 44.6479Z" fill="#37474F"/>
									<path d="M9.26745 28.3964C8.65768 28.3964 8.16425 27.9429 8.16425 27.3824C8.16425 22.7964 12.2216 19.0659 17.2097 19.0659C17.8195 19.0659 18.313 19.5195 18.313 20.08C18.313 20.6405 17.8195 21.0941 17.2097 21.0941C13.439 21.0941 10.3707 23.9154 10.3707 27.3824C10.3707 27.9429 9.87725 28.3964 9.26745 28.3964Z" fill="white"/>
									<path d="M41.2607 28.3964C40.6509 28.3964 40.1575 27.9429 40.1575 27.3824C40.1575 22.7964 44.2148 19.0659 49.203 19.0659C49.8127 19.0659 50.3062 19.5195 50.3062 20.08C50.3062 20.6405 49.8127 21.0941 49.203 21.0941C45.4322 21.0941 42.3639 23.9154 42.3639 27.3824C42.3639 27.9429 41.8705 28.3964 41.2607 28.3964Z" fill="white"/>
								</svg>


							</a>
						</li>
						{% if app.user %}
							<li class="nav-item">

								<a class="nav-link text-white borderLeft tailleReg" href="{{ path('app_logout') }}">
									<p class="tailleReg">Log out</p>
								</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link text-white border-start border-dark-subtle tailleReg" href="{{ path('app_register') }}">
									<p class="tailleReg">Register</p>
								</a>
							</li>
						{% endif %}
						<li class="nav-item">
							<a href="{{path('app_panier_index')}}" class="nav-link" aria-disabled="true">
								<svg width="89" height="83" class="panierSvg" viewbox="0 0 89 83" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M31.3134 1.66922H75.3545V33.781H31.3134V1.66922Z" fill="white"/>
									<path d="M44.1786 81.6443C47.9785 81.6443 51.059 78.8573 51.059 75.4193C51.059 71.9814 47.9785 69.1943 44.1786 69.1943C40.3786 69.1943 37.2981 71.9814 37.2981 75.4193C37.2981 78.8573 40.3786 81.6443 44.1786 81.6443Z" fill="#8F0000"/>
									<path d="M67.5884 81.6443C71.394 81.6443 74.479 78.8573 74.479 75.4193C74.479 71.9814 71.394 69.1943 67.5884 69.1943C63.7828 69.1943 60.6978 71.9814 60.6978 75.4193C60.6978 78.8573 63.7828 81.6443 67.5884 81.6443Z" fill="#8F0000"/>
									<path d="M73.899 72.7818L73.3595 72.0256C72.7375 71.1538 71.8844 70.4371 70.8781 69.9409C69.8718 69.4447 68.7444 69.1847 67.5987 69.1847C66.453 69.1847 65.3256 69.4447 64.3193 69.9409C63.313 70.4371 62.4599 71.1538 61.8378 72.0256L61.2984 72.7818H50.4789L49.9395 72.0256C49.3174 71.1538 48.4643 70.4371 47.458 69.9409C46.4517 69.4447 45.3243 69.1847 44.1786 69.1847C43.0329 69.1847 41.9055 69.4447 40.8992 69.9409C39.8929 70.4371 39.0398 71.1538 38.4177 72.0256L37.8783 72.7818H34.5398C34.2217 72.7818 33.9067 72.725 33.6128 72.6147C33.3189 72.5044 33.0519 72.3427 32.8269 72.1389C32.602 71.9351 32.4236 71.6931 32.3018 71.4268C32.1801 71.1605 32.1174 70.8751 32.1174 70.5869L20.1682 35.5425H83.8126C84.3775 35.5422 84.9248 35.7209 85.3597 36.0476C85.7946 36.3743 86.0898 36.8285 86.1943 37.3316L86.2553 37.6267L79.6497 70.5961C79.6497 71.1782 79.3945 71.7365 78.9402 72.1481C78.4859 72.5598 77.8697 72.791 77.2273 72.791L73.899 72.7818Z" fill="#B78727"/>
									<path d="M41.7662 18.011C44.9479 18.011 47.5271 15.674 47.5271 12.7912C47.5271 9.9084 44.9479 7.57143 41.7662 7.57143C38.5846 7.57143 36.0054 9.9084 36.0054 12.7912C36.0054 15.674 38.5846 18.011 41.7662 18.011Z" fill="#9DD594"/>
									<path d="M41.7663 30.9498C44.9535 30.9498 47.5373 28.6128 47.5373 25.73C47.5373 22.8472 44.9535 20.5102 41.7663 20.5102C38.579 20.5102 35.9952 22.8472 35.9952 25.73C35.9952 28.6128 38.579 30.9498 41.7663 30.9498Z" fill="#8F0000"/>
									<path d="M37.2981 74.1467H34.5398C33.4664 74.1449 32.4333 73.7764 31.6466 73.1149C30.8599 72.4533 30.3774 71.5473 30.2954 70.5777L17.9289 34.3067C17.593 33.7349 13.6337 27.5652 3.67942 26.8736V28.884C3.69825 29.113 3.66472 29.3431 3.58092 29.5598C3.49713 29.7766 3.36488 29.9753 3.19244 30.1436C3.02 30.3119 2.81109 30.4462 2.57877 30.538C2.34645 30.6298 2.09571 30.6772 1.84226 30.6772C1.5888 30.6772 1.33807 30.6298 1.10574 30.538C0.873422 30.4462 0.664508 30.3119 0.492071 30.1436C0.319633 29.9753 0.187382 29.7766 0.103588 29.5598C0.019795 29.3431 -0.0137371 29.113 0.00508926 28.884V25.149C0.00508926 24.7063 0.199184 24.2817 0.544674 23.9687C0.890164 23.6556 1.35875 23.4798 1.84735 23.4798C14.3462 23.4798 20.4226 31.0328 21.3692 33.0525C21.3927 33.1037 21.4131 33.156 21.4302 33.2092L33.8476 69.7938C33.9014 69.9521 33.9288 70.1169 33.9291 70.2826C33.9291 70.422 33.9902 70.5557 34.099 70.6543C34.2078 70.7528 34.3554 70.8082 34.5092 70.8082H37.2675C37.5203 70.7912 37.7742 70.8216 38.0134 70.8975C38.2526 70.9734 38.472 71.0932 38.6577 71.2495C38.8435 71.4057 38.9917 71.595 39.093 71.8055C39.1943 72.016 39.2466 72.2432 39.2466 72.4728C39.2466 72.7025 39.1943 72.9297 39.093 73.1402C38.9917 73.3507 38.8435 73.54 38.6577 73.6962C38.472 73.8525 38.2526 73.9723 38.0134 74.0482C37.7742 74.1241 37.5203 74.1545 37.2675 74.1375L37.2981 74.1467Z" fill="#342E2E"/>
									<path d="M60.708 74.1467H51.0692C50.6056 74.1154 50.1721 73.9264 49.8558 73.6177C49.5395 73.309 49.3638 72.9033 49.3638 72.4821C49.3638 72.0608 49.5395 71.6552 49.8558 71.3464C50.1721 71.0377 50.6056 70.8488 51.0692 70.8175H60.708C60.9607 70.8004 61.2146 70.8308 61.4538 70.9067C61.6931 70.9826 61.9124 71.1025 62.0982 71.2587C62.2839 71.4149 62.4321 71.6042 62.5334 71.8147C62.6347 72.0252 62.687 72.2524 62.687 72.4821C62.687 72.7117 62.6347 72.9389 62.5334 73.1494C62.4321 73.3599 62.2839 73.5492 62.0982 73.7054C61.9124 73.8617 61.6931 73.9815 61.4538 74.0574C61.2146 74.1334 60.9607 74.1637 60.708 74.1467Z" fill="#342E2E"/>
									<path d="M77.2272 74.1467H74.4791C74.2264 74.1637 73.9724 74.1333 73.7332 74.0574C73.494 73.9815 73.2747 73.8617 73.0889 73.7054C72.9032 73.5492 72.755 73.3599 72.6537 73.1494C72.5523 72.9389 72.5 72.7117 72.5 72.482C72.5 72.2524 72.5523 72.0252 72.6537 71.8147C72.755 71.6042 72.9032 71.4149 73.0889 71.2587C73.2747 71.1024 73.494 70.9826 73.7332 70.9067C73.9724 70.8308 74.2264 70.8004 74.4791 70.8174H77.2374C77.3913 70.8174 77.5389 70.7621 77.6477 70.6635C77.7565 70.5649 77.8176 70.4312 77.8176 70.2918C77.8089 70.1936 77.8089 70.0949 77.8176 69.9967L84.3622 37.35C84.3362 37.2304 84.2651 37.1226 84.1612 37.0452C84.0572 36.9678 83.9268 36.9256 83.7922 36.9258H21.1046C20.8518 36.9428 20.5979 36.9124 20.3587 36.8365C20.1195 36.7606 19.9001 36.6408 19.7144 36.4845C19.5286 36.3283 19.3804 36.139 19.2791 35.9285C19.1778 35.718 19.1255 35.4908 19.1255 35.2612C19.1255 35.0315 19.1778 34.8043 19.2791 34.5938C19.3804 34.3833 19.5286 34.194 19.7144 34.0378C19.9001 33.8815 20.1195 33.7617 20.3587 33.6858C20.5979 33.6099 20.8518 33.5795 21.1046 33.5965H83.8125C84.9418 33.5965 86.025 34.0024 86.8245 34.7251C87.624 35.4477 88.0745 36.4282 88.0772 37.4514C88.0859 37.5496 88.0859 37.6483 88.0772 37.7465L81.4919 70.4578C81.4421 71.4519 80.9709 72.3903 80.1765 73.0775C79.382 73.7647 78.3256 74.1477 77.2272 74.1467Z" fill="#342E2E"/>
									<path d="M44.1786 83C42.4558 82.9982 40.7723 82.5337 39.3409 81.6651C37.9095 80.7966 36.7944 79.563 36.1365 78.1204C35.4786 76.6778 35.3075 75.0908 35.6449 73.5601C35.9822 72.0293 36.8128 70.6236 38.0316 69.5205C39.2505 68.4174 40.803 67.6664 42.4928 67.3626C44.1825 67.0587 45.9338 67.2156 47.5252 67.8134C49.1167 68.4111 50.4768 69.423 51.4337 70.721C52.3906 72.0189 52.9013 73.5449 52.9013 75.1058C52.8959 77.1996 51.9749 79.2061 50.3399 80.6857C48.705 82.1654 46.4894 82.9976 44.1786 83ZM44.1786 70.5408C43.1843 70.5499 42.2153 70.8253 41.3935 71.3324C40.5717 71.8396 39.9339 72.5557 39.5603 73.3906C39.1868 74.2255 39.0942 75.1418 39.2943 76.0243C39.4945 76.9068 39.9783 77.7159 40.6849 78.3497C41.3914 78.9835 42.2892 79.4137 43.2651 79.5862C44.241 79.7586 45.2514 79.6655 46.1691 79.3187C47.0867 78.9719 47.8706 78.3868 48.422 77.6371C48.9734 76.8874 49.2676 76.0067 49.2677 75.1058C49.2543 73.8909 48.7122 72.7298 47.7592 71.875C46.8063 71.0202 45.5195 70.5407 44.1786 70.5408Z" fill="#342E2E"/>
									<path d="M67.5885 83C65.8657 82.9982 64.1823 82.5337 62.7508 81.6651C61.3194 80.7966 60.2043 79.563 59.5464 78.1204C58.8885 76.6778 58.7174 75.0908 59.0548 73.5601C59.3921 72.0293 60.2227 70.6236 61.4416 69.5205C62.6604 68.4174 64.2129 67.6664 65.9027 67.3626C67.5925 67.0587 69.3437 67.2156 70.9352 67.8134C72.5266 68.4111 73.8867 69.423 74.8436 70.721C75.8005 72.0189 76.3112 73.5449 76.3112 75.1058C76.3058 77.1996 75.3848 79.2061 73.7498 80.6857C72.1149 82.1654 69.8993 82.9976 67.5885 83ZM67.5885 70.5408C66.5942 70.5499 65.6252 70.8253 64.8034 71.3324C63.9816 71.8396 63.3438 72.5557 62.9702 73.3906C62.5967 74.2255 62.5041 75.1418 62.7043 76.0243C62.9044 76.9068 63.3882 77.7159 64.0948 78.3497C64.8014 78.9835 65.6991 79.4137 66.675 79.5862C67.6509 79.7586 68.6613 79.6655 69.579 79.3187C70.4966 78.9719 71.2805 78.3868 71.8319 77.6371C72.3833 76.8874 72.6775 76.0067 72.6776 75.1058C72.6642 73.8909 72.1221 72.7298 71.1692 71.875C70.2162 71.0202 68.9294 70.5407 67.5885 70.5408Z" fill="#342E2E"/>
									<path d="M74.8047 46.5353H36.2496C35.9968 46.5524 35.7429 46.522 35.5037 46.4461C35.2645 46.3702 35.0452 46.2503 34.8594 46.0941C34.6736 45.9379 34.5255 45.7486 34.4241 45.5381C34.3228 45.3276 34.2705 45.1004 34.2705 44.8707C34.2705 44.6411 34.3228 44.4139 34.4241 44.2034C34.5255 43.9929 34.6736 43.8036 34.8594 43.6474C35.0452 43.4911 35.2645 43.3713 35.5037 43.2954C35.7429 43.2194 35.9968 43.1891 36.2496 43.2061H74.8047C75.0574 43.1891 75.3114 43.2194 75.5506 43.2954C75.7898 43.3713 76.0091 43.4911 76.1949 43.6474C76.3806 43.8036 76.5288 43.9929 76.6301 44.2034C76.7315 44.4139 76.7838 44.6411 76.7838 44.8707C76.7838 45.1004 76.7315 45.3276 76.6301 45.5381C76.5288 45.7486 76.3806 45.9379 76.1949 46.0941C76.0091 46.2503 75.7898 46.3702 75.5506 46.4461C75.3114 46.522 75.0574 46.5524 74.8047 46.5353Z" fill="#342E2E"/>
									<path d="M73.4307 54.3558H37.6238C37.1601 54.3245 36.7267 54.1355 36.4104 53.8268C36.0941 53.5181 35.9183 53.1124 35.9183 52.6912C35.9183 52.2699 36.0941 51.8643 36.4104 51.5555C36.7267 51.2468 37.1601 51.0578 37.6238 51.0266H73.4307C73.8943 51.0578 74.3278 51.2468 74.644 51.5555C74.9603 51.8643 75.1361 52.2699 75.1361 52.6912C75.1361 53.1124 74.9603 53.5181 74.644 53.8268C74.3278 54.1355 73.8943 54.3245 73.4307 54.3558Z" fill="#342E2E"/>
									<path d="M72.0566 62.167H40.382C40.1293 62.1841 39.8754 62.1537 39.6362 62.0778C39.397 62.0018 39.1776 61.882 38.9919 61.7258C38.8061 61.5695 38.6579 61.3802 38.5566 61.1697C38.4553 60.9592 38.403 60.7321 38.403 60.5024C38.403 60.2728 38.4553 60.0456 38.5566 59.8351C38.6579 59.6246 38.8061 59.4353 38.9919 59.279C39.1776 59.1228 39.397 59.003 39.6362 58.927C39.8754 58.8511 40.1293 58.8207 40.382 58.8378H72.0566C72.5203 58.8691 72.9537 59.058 73.27 59.3668C73.5863 59.6755 73.7621 60.0812 73.7621 60.5024C73.7621 60.9237 73.5863 61.3293 73.27 61.638C72.9537 61.9468 72.5203 62.1357 72.0566 62.167Z" fill="#342E2E"/>
									<path d="M77.1865 35.4779H73.5427V3.35689H33.2065V35.5056H29.4711V3.35689C29.4738 2.46734 29.865 1.61491 30.5592 0.985899C31.2534 0.356887 32.1942 0.00243381 33.1759 0L73.4715 0C74.455 -3.34452e-06 75.3984 0.353373 76.0948 0.982648C76.7912 1.61192 77.1838 2.46574 77.1865 3.35689V35.4779Z" fill="#342E2E"/>
									<path d="M41.7663 16.2864L37.6951 12.5976C37.5065 12.4469 37.354 12.2629 37.2469 12.0569C37.1398 11.8509 37.0804 11.6272 37.0723 11.3996C37.0641 11.1719 37.1075 10.9452 37.1997 10.7333C37.2919 10.5215 37.4309 10.3289 37.6083 10.1676C37.7857 10.0062 37.9977 9.87948 38.2311 9.79512C38.4646 9.71076 38.7146 9.67058 38.9659 9.67705C39.2171 9.68352 39.4643 9.73651 39.6921 9.83275C39.9199 9.92899 40.1235 10.0665 40.2905 10.2367L41.746 11.5554L45.9496 7.75589C46.2992 7.44037 46.7728 7.2636 47.2662 7.26447C47.5105 7.2649 47.7523 7.30892 47.9779 7.39403C48.2034 7.47914 48.4082 7.60367 48.5807 7.7605C48.7531 7.91734 48.8897 8.10341 48.9828 8.30809C49.0759 8.51278 49.1235 8.73206 49.123 8.95343C49.1226 9.1748 49.074 9.39392 48.98 9.59827C48.8861 9.80263 48.7487 9.98822 48.5756 10.1444L41.7663 16.2864Z" fill="#342E2E"/>
									<path d="M41.7663 29.216L37.695 25.5271C37.3833 25.2093 37.2171 24.7958 37.2305 24.3708C37.2438 23.9458 37.4356 23.5414 37.7668 23.2402C38.0979 22.939 38.5435 22.7636 39.0124 22.7498C39.4814 22.7361 39.9385 22.885 40.2905 23.1662L41.746 24.485L45.9496 20.6855C46.2964 20.3699 46.7674 20.1922 47.2589 20.1913C47.7505 20.1905 48.2222 20.3665 48.5704 20.6808C48.9187 20.9951 49.1148 21.4219 49.1158 21.8672C49.1168 22.3126 48.9224 22.74 48.5755 23.0556L41.7663 29.216Z" fill="#342E2E"/>
									<path d="M51.9343 9.77556H70.133V13.1048H51.9343V9.77556Z" fill="#342E2E"/>
									<path d="M51.9343 22.7051H70.133V26.0343H51.9343V22.7051Z" fill="#342E2E"/>
								</svg>

								{% if app.user %}
									<span class="text-white count ">{{ panierCount }}</span>
								{% else %}
									<span class="text-white count ">0</span>
								{% endif %}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>


		{% block body %}{% endblock %}
		<div class="BtnFooter">
			<a href="#" class="">

				<svg width="64" height="62" viewbox="0 0 64 62" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_38_241)">
						<path d="M64 31C64 22.7783 60.6286 14.8933 54.6274 9.07969C48.6263 3.26606 40.4869 0 32 0C23.5131 0 15.3737 3.26606 9.37258 9.07969C3.37142 14.8933 0 22.7783 0 31C0 39.2217 3.37142 47.1067 9.37258 52.9203C15.3737 58.7339 23.5131 62 32 62C40.4869 62 48.6263 58.7339 54.6274 52.9203C60.6286 47.1067 64 39.2217 64 31ZM34 44.5625C34 45.0764 33.7893 45.5692 33.4142 45.9325C33.0391 46.2959 32.5304 46.5 32 46.5C31.4696 46.5 30.9609 46.2959 30.5858 45.9325C30.2107 45.5692 30 45.0764 30 44.5625V22.1146L21.416 30.4342C21.0405 30.7981 20.5311 31.0024 20 31.0024C19.4689 31.0024 18.9595 30.7981 18.584 30.4342C18.2085 30.0704 17.9975 29.577 17.9975 29.0625C17.9975 28.548 18.2085 28.0546 18.584 27.6908L30.584 16.0658C30.7698 15.8853 30.9905 15.7422 31.2335 15.6445C31.4764 15.5468 31.7369 15.4965 32 15.4965C32.2631 15.4965 32.5236 15.5468 32.7665 15.6445C33.0095 15.7422 33.2302 15.8853 33.416 16.0658L45.416 27.6908C45.7915 28.0546 46.0025 28.548 46.0025 29.0625C46.0025 29.577 45.7915 30.0704 45.416 30.4342C45.0405 30.7981 44.5311 31.0024 44 31.0024C43.4689 31.0024 42.9595 30.7981 42.584 30.4342L34 22.1146V44.5625Z" fill="#B78727"/>
					</g>
					<defs>
						<clipPath id="clip0_38_241">
							<rect width="64" height="62" fill="white"/>
						</clipPath>
					</defs>
				</svg>

				<p class="text">Back to Top</p>
			</a>
		</div>
		<footer class="footer-section">
			<div class="container">
				<div class="footer-cta pt-5 pb-5">
					<div class="row text-center">
						<div class="col-xl-4 col-md-4 mb-30">
							<div class="single-cta">
								<i class="fas fa-map-marker-alt"></i>
								<div class="cta-text">
									<h4>
										<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#820101" class="bi bi-geo-alt-fill" viewbox="0 0 16 16">
											<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
										</svg>
										Find us</h4>
									<span>42000 Saint-Etienne</span>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-md-4 mb-30">
							<div class="single-cta">
								<i class="fas fa-phone"></i>
								<div class="cta-text">
									<h4>
										<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#820101" class="bi bi-telephone-fill" viewbox="0 0 16 16">
											<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
										</svg>
										Call us</h4>
									<span>06 01 76 26 69</span>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-md-4 mb-30">
							<div class="single-cta">
								<i class="far fa-envelope-open"></i>
								<div class="cta-text">
									<h4>
										<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#820101" class="bi bi-envelope-fill" viewbox="0 0 16 16">
											<path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
										</svg>
										Mail us</h4>
									<span>negar.shahbazi70@gmail.com</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-content pt-5 pb-5">
				<div class="container footer-text">
					<div class="row text-center">

						<div class="col-xl-4 col-lg-4 col-md-12">
							<div class="footer-widget d-flex flex-column justify-content-center align-items-center text-center">
								<div class="footer-widget-heading">
									<h3>Useful Links</h3>
								</div>
								<ul class="useful-links">
									<li>
										<a href="{{path('app_home')}}">Home</a>
									</li>
									<li>
										<a href="{{path('app_about')}}">About us</a>
									</li>

									<li>
										<a href="{{path('app_contact_new')}}">Contact us</a>
									</li>
									<li>
										<a href="{{path('app_gallery')}}">Latest Paints</a>
									</li>
								</ul>

							</div>
						</div>

						<div class="col-xl-4 col-lg-4 col-md-12">
							<div class="footer-widget">
								<div class="footer-logo d-flex justify-content-center align-items-center">
									<a href="{{ path('app_home') }}"><img src="{{asset('assets/img/télécharger.webp')}}" class="img-fluid rounded-pill opacity-75" alt="logo"></a>
								</div>
								<div class="footer-text text-white opacity-50 ">
									<p>At Negar Art Gallery, we are committed to fostering a culture of artistic appreciation and expression. Join us on a journey of discovery, creativity, and inspiration as we celebrate the beauty and power of art together.</p>
								</div>
							</div>
						</div>

						<div class="col-xl-4 col-lg-4 col-md-6 col-md-12 ">
							<div class="footer-social-icon">
								<span>Follow us</span>
								<div class="text-center d-flex flex-column justify-content-center align-items-center">
									<a target="_blank" href="https://instagram.com/negar_art.nft" class="">
										<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-instagram  m-3 mySvg" viewbox="0 0 16 16">
											<path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"/>
										</svg>
									</a>
									<a target="_blank" href="https://github.com/negarshahbazi">
										<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-github  m-3 mySvg" viewbox="0 0 16 16">
											<path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
										</svg>
									</a>
									<a target="_blank" href="https://www.linkedin.com/in/negar-shahbazi/">
										<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-linkedin  m-3 mySvg" viewbox="0 0 16 16">
											<path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401m-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4"/>
										</svg>
									</a>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright-area">
				<div class="container">
					<div class="row text-center">
						<div class="col-xl-6 col-lg-6 text-center text-lg-left">
							<div class="copyright-text">
								<p>Copyright &copy; 2024, All Right Reserved</p>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
							<div class="footer-menu">
								<ul>
									<li><a  href="{{path('app_home')}}">Home</a></li>
									<li><a  href="{{path('app_about')}}">About Us</a></li>
									<li><a href="#">Privacy Policy.</a></li>
									<li><a  href="{{path('app_contact_new')}}">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</body>
	</body>
</html></body></html></footer></body></html>
