{% extends 'base.html.twig' %}

{% block body %}
    <h1>Messages</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Messages</th>
                <td>{{ message.messages }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ message.createdAt ? message.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        
        </tbody>
    </table>

    <a href="{{ path('app_messages_index') }}">back to list</a>

    <a href="{{ path('app_messages_edit', {'id': message.id}) }}">edit</a>

    {{ include('messages/_delete_form.html.twig') }}
{% endblock %}
