{% extends 'base.html.twig' %}


{% block body %}

	<div class="d-flex justify-content-between align-items-center titrPoster">
		<div class="d-flex flex-column justify-content-center align-items-center">
			<img class="vahshi" src="{{ asset('../../assets/img/young-woman-who-is-posing-covered-with-black-paint-removebg-preview.png') }}" alt="photo">
		</div>
		<h1 class="text-white">Order confirmation({{ panierCount }})</h1>
		<div class="d-flex flex-column justify-content-center align-items-center">
			<img class="vahshi" src="{{ asset('../../assets/img/portrait-young-woman-who-is-posing-covered-with-black-paint__3_-removebg-preview.png') }}" alt="photo">
		</div>
	</div>
	<section class="section-container">
		<div>
			<a class="text-center text-decoration-none text-white mx-auto" href="{{ path('app_panier_index') }}"><img class="backButton  d-flex justify-content-start align-items-center" src="{{asset('../../assets/img/left-arrow_4518010-removebg-preview.png')}}" alt=""></a>
		</div>
		<div class="d-flex justify-content-center align-items-center ">
			<div class="row d-flex justify-content-center align-items-center ">
				<div class="col-11 form-container mt-5 mb-5">
					<p class="text-center">⚠️Make sure the following information is correct and correct it if necessary!</p>
					{{ include('user/_form.html.twig') }}

				</div>
			</div>

		</div>
	</section>
{% endblock %}
